#bodyOpc{
    overflow: hidden;
    background:white;
}
#records {
    width: 100%;
    height: 5%;
    position: relative;
    display: block;
}
#main {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#2196F3;
    height: 90%;
}


.items {
    float: left;
    color: white;
    width: 16%;
    margin-top: 2.6%;
}

.itemsC {
    display: table-caption;
    margin-left: -66%;
}


li a {
    display: table-cell;
    color: white;
    width: 54%;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color:#1565C0;
    height: 20%;
}

#option{
    margin: auto;
    overflow: auto;
    width: 10%;
}

.Crud{
    display: flex;
    height: 20%;
    margin-top: auto;
    margin-left:5% ;
    overflow: auto;
    float: left;
    position: relative;
}
.image{
    width: 50%;
    height: 80%;
    margin-bottom: 10%;
    margin-left: 0%;
}
.text{
    position: absolute;
    margin-top: 0%;

}

#more {
    position: absolute;
    display: none;
    background: #64B5F6;
    width: 6%;
}

#main li:hover #more{
    display: block;
}


#textzone{
    margin-top: -23%;
    height: 70%;
    width: 80%;
    margin-left: 11%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#editzone{
    margin-top: 30%;
    width: 100%;
    height: 80%;
    background: white;
    
}